@import "tailwindcss";

@theme {
  /* Define the animation name and properties */
  --animate-marquee: marquee 10s linear infinite;

  /* Define the actual keyframes */
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}
